@use '@/assets/variables.scss' as *;

///////////////////////////////////////
// Bulma
///////////////////////////////////////

// Load everything
// @use 'bulma/css/bulma.css';

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with(
    $link: $color-orange-1,
    $warning: $color-orange-1,
);

// Load Bulma's base styles and themes (including the minireset)
@use "bulma/sass/base";
@use "bulma/sass/themes";

// Elements
@use "bulma/sass/elements/title";
@use "bulma/sass/elements/button" with(
    $button-ghost-background: $color-orange-3,
    $button-ghost-color: white,
    $button-ghost-hover-color: white,
);
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/block";

// Grid
@use "bulma/sass/grid/columns";

// Components
@use "bulma/sass/components/navbar" with (
    $navbar-item-img-max-height: 50px,
);

// Helpers
@use "bulma/sass/helpers/color";
@use "bulma/sass/helpers/flexbox";
@use "bulma/sass/helpers/spacing";
@use "bulma/sass/helpers/typography";

// Layout
@use "bulma/sass/layout/section";
@use "bulma/sass/layout/footer" with (
    // $footer-background-color: white,
    $footer-padding: 32px,
);
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/hero";


///////////////////////////////////////
// Google fonts
///////////////////////////////////////
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('@/fonts/CormorantGaramond-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


///////////////////////////////////////
// Custom CSS
///////////////////////////////////////
html {
    scroll-behavior: smooth;
}

.has-text-orange {
    color: $color-orange-1;
}

body {
    font-family: 'Cormorant Garamond', sans-serif;
}

.section:nth-child(odd) {
    background-color: $color-orange-2;
}

.has-bg-img-left {
    background: url('@/assets/images/quote_image_1.webp') no-repeat left center/contain;
}

.has-bg-img-right {
    background: url('@/assets/images/quote_image_2.webp') no-repeat right center/contain;
}
