///////////////////////////////////////
// Bulma
///////////////////////////////////////

// New variables
$color-light-green: rgb(247, 252, 250);
$color-green: rgb(51, 183, 124);

//Overriden variables
$footer-background-color: $color-light-green;
$footer-padding: 32px;

$tabs-link-active-color: $color-green;
$tabs-link-active-border-bottom-color: $color-green;
$tabs-link-hover-color: $color-green;
$tabs-link-hover-border-bottom-color: $color-green;

// Old styles
$link: $color-green;

// Import only what is needed ...
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/layout/section.sass";
// ... OR import all.
// @import "~bulma/bulma.sass";


///////////////////////////////////////
// Google fonts
///////////////////////////////////////
// https://google-webfonts-helper.herokuapp.com/fonts/varela-round?subsets=latin

/* varela-round-regular - latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/varela-round-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
         url('./fonts/varela-round-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/varela-round-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/varela-round-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/varela-round-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/varela-round-v12-latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}

footer figure img {
    width: 300px;
}

.img-main {
    width: 80%;
    border-radius: 5%;
}

.has-text-green {
    color: $color-green;
}

.tabs.is-toggle {
    padding-right: 5%;
}

@media(max-width: 767px) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}

body {
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
    background-color: $color-light-green;
}
