///////////////////////////////////////
// Bulma
///////////////////////////////////////


// Load everything
// @use 'bulma/css/bulma.css';

// Set your brand colors
$color-orange: #ff7128;

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with(
    $link: $color-orange,
);

// Load Bulma's base styles and themes (including the minireset)
@use "bulma/sass/base";
@use "bulma/sass/themes";

// Elements
@use "bulma/sass/elements/title";
@use "bulma/sass/elements/button" with(
    $button-ghost-background: $color-orange,
    $button-ghost-color: white,
    $button-ghost-hover-color: white,
);
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/content";

// Grid
@use "bulma/sass/grid/columns";

// Components
@use "bulma/sass/components/navbar" with (
    $navbar-item-img-max-height: 50px,
);
// @use "bulma/sass/components/tabs" with(
//     $tabs-link-active-color: $color-orange,
//     $tabs-link-hover-color: $color-orange,
// );

// Helpers
@use "bulma/sass/helpers/color";
@use "bulma/sass/helpers/flexbox";
@use "bulma/sass/helpers/spacing";
@use "bulma/sass/helpers/typography";

// Layout
@use "bulma/sass/layout/section";
@use "bulma/sass/layout/footer" with (
    // $footer-background-color: white,
    $footer-padding: 32px,
);
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/hero";


///////////////////////////////////////
// Google fonts
///////////////////////////////////////
@font-face {
    // font-family: 'Varela Round';
    font-family: 'Cormorant Garamond';
    // src: url('./fonts/VarelaRound-Regular.ttf') format('woff2');
    src: url('@/fonts/CormorantGaramond-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


///////////////////////////////////////
// Custom CSS
///////////////////////////////////////
html {
    scroll-behavior: smooth;
}

footer figure img#img_sblp {
    width: 300px;
}

footer figure img#img_rbcz {
    width: 200px;
}

.line {
    border-top: 1px solid #dee2e6;
}

.img-main {
    width: 80%;
    border-radius: 2%;
}

.has-text-orange {
    color: $color-orange;
}

// .buttons {
//     padding-right: 5%;
// }

@media(max-width: 767px) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}

body {
    // font-family: 'Varela Round', sans-serif;
    font-family: 'Cormorant Garamond', sans-serif;
}

#logo_vit {
    width: 50%;
}


.section:nth-child(odd) {
    background-color: #fff9ed; /* Light orange */
}


